/*
.color1 { #648285 };
.color2 { #b4a68e };
.color3 { #080d0d };
.color4 { #f3daaa };
.color5 { #a3c4c2 };

menu => position sticky (-webkit-sticky p safari)
footer => fixo no final da viewport

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(0deg, #648285 9%, #a3c4c2 31%, #e2ecec 50%, #b4a68e 70%, #f3daaa 93%);
    font-family: 'Raleway', sans-serif;
    color: #080d0d;
    background-repeat: no-repeat;
}

.texto-principal {
    padding: 0px;
    width: 50%;
}

.texto-principal>p {
    text-align: justify;
    margin: 0px;
    padding: 3px;
    text-indent: 3em;
}

header {
    display: inline-block;
    background-color: #b4a68e;
    width: 100%;
    box-shadow: 0px 11px 15px -3px rgba(0, 0, 0, 0.68);
}

.cabec {
    display: flex;
    height: 120px;
    width: 100%;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3rem;
}


.desktop-logo {
    display: flex;
}

.tablet-logo {
    display: none;
}

.mobile-logo {
    display: none;
}

.search-box {
    display: flex;
}


.bott,
.bott-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #a3c4c2;
}

.texto-principal, .corpo-news > .texto-news  {
    padding: 10px;
}

.bott-mobile>nav>ul {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-around;
}

nav li {

    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 115px;
    background-color: #f6fafa;
    padding: 7px;
    color: #080d0d;


    &:hover {
        background-color: #6e7777;
        text-decoration: none;
        color: #fffafa;
    }
}

nav li,
a:link {
    text-decoration: none;

}

.search-box,
.search-box-input {
    display: flex;
    width: 100%;
}

.search-box-input {
    border-radius: 8px;
    width: 35vw;
}

.desktop {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    left: -10px;
}

.imgNav img {
    max-width: 35px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.responseMenu img {
    display: none;
    max-width: 35px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.imgNav,
.responseMenu {

    justify-content: center;
    margin: 5px;
}

.imagem-item:hover,
.logo:hover {
    filter: drop-shadow(0px 0px 5px #648285);
    cursor: pointer;
}

#bott-mobile {
    display: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(background/vecteezy_luxury-floral-golden-line-art-wallpaper-elegant-blooming_17039460.jpg);
    background-position: center;
    width: 100%;
    height: 400px;
}

.banner>img {
    max-height: 100%;
}

.banner-promo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(background/vecteezy_papercut-style-sea-wave-pattern-design-background_7535043.jpg);
    background-position: 0% 50%;
    width: 100%;
    height: 300px;
}

.promo-tex {
    margin: 15px;
    font-size: 3rem;
}

.faixa-facilidades {
background-color: #a3c4c2;
height: 40px;
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 15px;
}

.facilidade-itens {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.facilidade-itens > img {
    margin-right: 0.4rem;
} 

@media(max-width: 775px) {

    .desktop-logo {
        display: none;
    }

    .tablet-logo {
        display: flex;
    }

    nav li {
        display: flex;
        padding: 0px;
        width: 80px;
        height: 30px;
        align-items: center;
        justify-content: center;

    }

    .corpo-news {
        flex-direction: column;
        width: 100%;
    }

    .corpo-news > .texto-news{
        width: 100%;
    }

    .midia-news {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    video {
        width: 350px;
    }

    a {
        font-size: 12px;
        text-align: center;
    }

    .contato {
        flex-direction: column-reverse;
    }

    .faixa-facilidades {
        position: relative;
        width: 100%;
        height: 50px; /* ajuste a altura conforme necessário */
        overflow: hidden;
    }

    .facilidade-itens {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #a3c4c2;
        opacity: 0;
        animation: slideRight 5s linear infinite;
    }

    .facilidade-itens:nth-child(1) { animation-delay: 0s; }
    .facilidade-itens:nth-child(2) { animation-delay: 3s; }
    .facilidade-itens:nth-child(3) { animation-delay: 6s; }
    .facilidade-itens:nth-child(4) { animation-delay: 9s; }

    @keyframes slideRight {
        0% {
            transform: translateX(-100%);
            opacity: 1;
        }
        25% {
            transform: translateX(0%);
            opacity: 1;
        }
        75% {
            transform: translateX(0%);
            opacity: 1;
        }
        100% {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}

@media(max-width: 605px) {
    .desktop {
        display: flex;
        flex-grow: 2;
        justify-items: end;
    }

    .tablet-logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
    }

    .responseMenu img {
        display: flex;
    }

    .bott {
        display: none;
    }

    video {
        width: 300px;
    }

    a>li {
        text-align: center;
        width: 95%;
        margin: 0.1rem;
        padding: 5px;
        align-items: center;

    }

    .texto-principal, .corpo-news > .texto-news  {
        padding: 10px;
        width: 100%;
    }




    .search-box-input {
        width: 35vw;
    }

    nav {
        display: flex;
        width: 100%;
    }

    nav>ul {

        padding: 0px;
        width: 100%;
    }

    ul>a {
        display: flex;
        justify-content: center;
    }

    .banner>img {
        max-width: 100%;
        height: auto;
        width: auto\9;
        /* Adiciona suporte ao IE9 */
    }

    .banner-promo {
        flex-direction: column;
    }
}

@media (min-width: 606px) {
    #bott-mobile {
        display: none !important;
    }
}

h2 {
    margin: 15px;
    font-size: 2rem;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #000000;
    background-image: linear-gradient(to right, #ccc, #333333, #ccc);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lab {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin-bottom: 20px;
}

.custButton {
    font-weight: bold;
    border-radius: 3px;
    background-color: #a3c4c2;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #080d0d;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

    &:hover {
        background-color: #6e7777;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #b4a68e;
    margin: 0;

}

footer > p {
    text-align: center;
    margin: 10px;
}
footer > a {
    margin: 5px;
    font-size: 1.2rem;
    text-decoration: none;
}

.p-footer,
.img-footer {
    display: flex;
    color: #080d0d;
}

.img-footer {
    height: 30px;
    width: auto;
    padding: 0px 5px;

    &:hover {
        cursor: pointer;
    }
}

form input,
form textarea {
    outline: unset;
    padding: 10px;
    width: 250px;
    border: 1px solid #080d0d;
    border-radius: 5px;
    background-color: #f3f3e6;
}

.area {
    padding: 7px;
    background-color: #f3f3e6a2;
    margin-bottom: 10px;
}

.corpo {
    display: flex;
    flex-direction: column;
}

.item-container {
    display: inline-flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.div-imagens,
.div-imagens-atb {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.div-imagens-atb>h3 {
    font-size: 0.8rem;
}

.imagem-item {
    max-width: 260px;
}

.imagem-item-atb {
    width: 220px;
    height: 320px;
}

.contato {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.icone-contato>a>img {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
    margin: 1rem;
    color: #b4a68e;
}


.main-contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo-news {
    display: inline-flex;
}

.texto-news {
    height:100%;
    width: 50%;
    text-align: justify;
    text-indent: 0.5cm;
}

.midia-news {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    margin: 10px;
}


/* É TESTE BOY*/

.fundo-texto {
    background-color: #217e8680;
    border-radius: 10px;
}

.main-sobre {
    align-items: center;
    justify-content: center;
}

.atribuicoes-ul {
    display: block;
    margin: 20px;
    padding-left: 15px;
}

h3 {
    padding-left: 2rem;
}